.title {
  text-align: center;
}

.card {
  padding: 1rem;
  border: black 1px solid;
  margin: 0 3rem;
  margin-top: 3rem;
}

.food-list {
  display: flex;
  border-bottom: rgb(94, 94, 94) 1px solid;
  justify-content: space-between;
}